{% extends 'base.html.twig' %}

{% block body %}
<h3 class="text-center mt-5">Connexion</h3>
<hr />
<p id="elem" class="text-center text-danger"></p>
<form action="" id="form">
    <div class="form-group">
        <label for="email">Adresse email :</label>
        <input type="email" class="form-control mt-2" id="email" />
    </div>
    <div class="form-group mt-3 mb-3">
        <label for="password">Mot de passe :</label>
        <input type="password" class="form-control mt-2" id="password" />
    </div>
    <a href=""><small class="mb-3">Mot de passe oublier ?</small></a>
    <div class="text-center mt-3">
        <hr />
        <button type="button" id="btnLogin" class="btn btn-lg btn-success">Se connecter</button>
    </div>
</form>
<script src="dist/assets/js/login/login.js"></script>
{% endblock %}